# Copyright (c) 2024 Rahul Vagish Arasikere
# SPDX-License-Identifier: Apache-2.0

menu "Drivers"

if CLOCK_CONTROL
rsource "clock_control/Kconfig.ti_hercules"
endif

if HWINFO
rsource "hwinfo/Kconfig.ti_hercules"
endif 

endmenu
