# SPDX-License-Identifier: Apache-2.0
# Copyrights Rahul Arasikere <arasikere.rahul@gmail.com> 2025

# OpenOCD config to work with board

set _DAP_TAPID 0x1b95a02f
set _JRC_TAPID 0x1b95a02f
set _CHIPNAME rm57lx

if { [info exists ENDIAN] } {
set _ENDIAN $ENDIAN
} else {
set _ENDIAN little
}


adapter speed 5500
# Board has onboard XDS110 TI Debugger
source [find interface/xds110.cfg]
# Debugger uses and ICEPICK-C router
source [find target/icepick.cfg]
# Interface is compact JTAG.
source [find target/ti-cjtag.cfg]

adapter speed 5500

transport select jtag
reset_config trst_only

jtag newtap $_CHIPNAME cpu -irlen 4 -ircapture 0x1 -irmask 0xf -expected-id $_DAP_TAPID -disable
jtag configure $_CHIPNAME.cpu -event tap-enable "icepick_c_tapenable $_CHIPNAME.jrc 0"

jtag newtap $_CHIPNAME jrc -irlen 6 -ircapture 0x1 -irmask 0x3f -expected-id $_JRC_TAPID -ignore-version
# A start sequence is needed to change from cJTAG (Compact JTAG) to
# 4-pin JTAG before talking via JTAG commands
jtag configure $_CHIPNAME.jrc -event setup "jtag tapenable $_CHIPNAME.cpu"
jtag configure $_CHIPNAME.jrc -event post-reset "ti_cjtag_to_4pin_jtag $_CHIPNAME.jrc"

# Create a Coretex-R5F target
set _TARGETNAME $_CHIPNAME.cpu
dap create $_CHIPNAME.dap -chain-position $_CHIPNAME.cpu
target create $_TARGETNAME cortex_r4 -dap $_CHIPNAME.dap

gdb_memory_map enable
gdb_flash_program enable
